h1{
    font-family: 'Didot';
    font-size: 80px !important;
    padding: 30px;
    text-align: center;
}
h4{
    font-family: 'Century Gothic';
    font-size: 20px !important;
    text-align: justify;
    width: 60%;
    margin: 0 auto 0 auto;
}
h2{
    font-family: 'Palatino Linotype';
    font-size: 50px !important;
    color: #226b80;
    padding-bottom: 15px;
}
h5{
    font-family: 'Century Gothic';
    font-size: 20px !important;
}
p{
    font-family: 'Century Gothic';
}

/* Classes */

.intro{
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #ffeaa5;
}

    .intro-title{
        justify-content: center;
    }

.adventure-list{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
}

.about{
    padding-top: 100px;
    padding-bottom: 30px;
}

    .about-info{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about-img{
        width: 40%;
        float: left;
        padding-right: 30px;
        padding-bottom: 10px;
    }

        .emily-img{
            width: 100%;
        }

    .about-text{
        text-align: justify; 
        padding-right: 50px;
    }

    .contact{
        text-align: center;
    }

    .web-btn{
        justify-items: center;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }


.adventure-header{
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #40a798;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    max-width: 33.33%;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.description{
    padding: 20px !important;
    background-color: #F5F5F5;
}


/* Park City */

.pano-img{
    width: 100%;
    /* height: auto; */
    /* max-width: 100%; */
    /* height: auto; */
}

.img-container{
    padding: 0 !important;
    margin: 0 !important;
}




/* This is inside fadeContainer, but not working, so use it here: */
.img-fade-container{
    position: relative;
    background-color: black;
    padding: 0 !important;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    text-align: center;
}

.img-fade-container:hover img{
    opacity: 0.5;
    transition: opacity .5s;
}

.img-fade-container:hover .center{
    opacity: 1;
    transition: opacity .5s;
}